.templaterPage {
  display: flex;
}

.switchPanel{
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.ListArea{
  height: 100vh;
  width: 14%;
  flex: 0 1 auto;
}

.TemplateArea{
  flex: 1 0 auto;
  width: 82%;
  height: 100vh;
  max-height: 100vh;
}

.DocumentNameField{
  padding: 1rem 2rem 0;
}

.DocumentName{
  width: 100%;
}