$border-radius-value: 10px;
$main-color: #185abd;
$neutral-color: #878d8d;
$focus-color: #134388;
$dark: #000;

.template-block {
  flex: 1 0 auto;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 82%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid $neutral-color;
  border-radius: $border-radius-value;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid $main-color;
}

textarea {
  width: 100%;
  padding: 20px;
  height: 150px;
  resize: vertical;
  box-sizing: border-box;
  border: 2px solid $neutral-color;
  border-radius: $border-radius-value;
  outline: none;
}

textarea:focus {
  border: 2px solid $main-color;
}

input[type=button]:focus {
  background-color: $focus-color;
}