.editorPage{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  height: 100vh;
}

.info{
  flex: 1 1 auto;
  margin-top: 20px;
}

.control{
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: 0;

}

.controlButtons{

}

.editor{
  flex: 1 0 auto;
  border: 3px solid rgba(0, 255, 14, 0.69);
}

.editorArea{
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;

}

.markdownArea{
  flex-grow: 1;
  margin-top: 20px;
  width: auto;

}

.renderArea{
  flex-grow: 1;
  width: auto;
  overflow-y: auto;
}

