.MarkdownAreaBlock {
    width: auto;
    height: 100%;
}


.MarkdownAreaBlock > textarea{
    background-color: #323234;
    color: #e55200;
    font-size: 17px;
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 0px;
}
