.MarkdownAreaBlock {
    width: auto;
    height: auto;
}


.MarkdownAreaBlock > textarea{
    background-color: #323234;
    color: #e55200;
    font-size: 17px;
    width: 100%;
    padding: 1em 1em;
    resize: none;
}
