.templateList{
    overflow-y:auto;
    margin: 0;
    height: 100vh;
    width: 18%;
    flex: 0 1 auto;
    background-color: #185abd;
}

.templateItem{
    cursor: default;
    height: auto;
    width: 100%;

}

.templateContent{
    font-size: 1vw;
    padding: 2% 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.templateContent:hover{
    background-color: #134388;
}