.templateList{
    margin: 0;
    background-color: #002154;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.templateItem{
    cursor: default;
    height: auto;
    width: 100%;

}

.templateContent{
    font-size: 1vw;
    padding: 2% 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.templateContent:hover{
    background-color: #134388;
}