.editorArea{
    display: flex;
    background-color: #bbbebe;
}

.editorMarkdownArea{
    left: 19%;
    height: 100%;
    width: 100%;
    padding: 2vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
}

.editor-render-area{

}