.editor {

}

.editor-area{
  display: flex;
}

.editor-area> div{
  height: 60vh;
  width: 50vh;
  margin: 5vh auto;
}

.input-area{
  background-color: #abb2c7;
}

.render-area{
  background-color: #b5c2c2;
}

.input-area> textarea{
  width: 100%;
  height: 100%;
  resize: none;
}

.template{
  display: flex;
  padding: 20px;
  margin: 10px;
  border: 2px solid midnightblue;
  justify-content: space-between;
  align-content: center;
}



